:root {
    /* Primary */
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    /* Accent */
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    /* Neutral */
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    width: 100vw;
    min-width: fit-content;
}
header, main, footer {
    width: 100%;
}
.container {
    width: 89%;
    margin: 0 auto;
    display: flex;
}
h1, h2 {
    font-size: 3.9rem;
    line-height: 6rem;
    margin-top: 0;
}
header, h1, h2, input, button, .label-for-email, .section-2-link {
    font-family: 'Raleway', sans-serif;
}
p, footer {
    font-family: 'Open Sans', sans-serif;
}
/* HEADER */
.header-container {
    justify-content: space-between;
    padding: 6rem 0 8.5rem;
}
.logo-img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
#nav-bar {
    display: flex;
    align-items: center;
    width: 21%;
    min-width: 27rem;
}
.nav-list {
    width: 100%;
}
.nav-list, .footer-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.nav-list-item:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.header-link {
    font-size: 1.7rem;
    color: var(--Desaturated-Blue);
    text-decoration: none;
}
.header-link:active {
    color: var(--Bright-Blue);
}
/* MAIN  */
/* SECTION 1 */
.section-1-container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17rem;
}
.section-1-text {
    width: 45%;
}
.section-1-paragraph, .section-2-paragraph, .section-3-paragraph, .section-2-link {
    font-size: 1.75rem;
}
.section-1-heading, .section-2-heading, .section-1-paragraph, .section-2-paragraph, .review {
    color: var(--Very-Dark-Blue);
}
.section-1-form {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    position: relative;
}
.section-1-text input {
    width: 55%;
    height: 4.5rem;
}
input {
    padding-left: 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--Desaturated-Blue);
    color: var(--Light-Gray);
} 
.error-text {
    position: absolute;
    left: 0;
    top: 5rem;
    margin: 0;
    color: rgb(255, 13, 13);
    font-style: italic;
    opacity: 0;
    font-size: 1.3rem;
}
input:not(:placeholder-shown):invalid {
    border-color:  rgb(145, 10, 10);
}
.section-1-form-input:not(:placeholder-shown):invalid + .error-text {
    opacity: 1;
}
button {
    background-color: var(--Bright-Blue);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    width: 35%;
    height: 4.5rem;
    padding: 0;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
button:active {
    background-color: rgb(111, 149, 255);
    cursor: pointer;
}
.section-1-text .label-for-email {
    width: 35%;
    height: 4.5rem;
}
.section-1-image-box {
    width: 50%;
}
.section-1-img {
    object-fit: contain;
    width: 100%;
}
/* SECTION 2 */
#section-1::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 11.4rem;
    background-image: url(bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: bottom;
    margin-bottom: -0.5rem;
}
#section-2 {
    background-color: var(--Light-Grayish-Blue);
}
.section-2-container {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "section-2-text section-2-image-box"
    "review section-2-image-box";
    padding: 6rem 0 10.5rem;
}
.section-2-text {
    grid-area: section-2-text;
}
.section-2-paragraph {
    padding-right: 11rem;
}
.section-2-link-box {
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Moderate-Cyan);
    width: fit-content;
}
.section-2-link-box:hover {
    cursor: pointer;
}
.section-2-link-box:active {
    filter: brightness(130%);
    cursor: pointer;
}
.section-2-link {
    color: var(--Moderate-Cyan);
    text-decoration: none;
}
.review {
    grid-area: review;
    height: 21.6rem;
    width: 37.5rem;
    border-radius: 1rem;
    background-color: white;
    margin-top: 4.5rem;
    padding: 2.5rem 4rem 2.5rem 3.5rem;
    box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.26);
}
.review:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.quote {
    font-size: 1.4rem;
    margin: 1.3rem 0;
    line-height: 2.3rem;
}
.users-data {
    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "users-photo-box name"
    "users-photo-box position";
}
.users-photo-box {
    grid-area: users-photo-box;
}
.users-photo-box, .users-photo{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}
.name {
    grid-area: name;
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
.position {
    grid-area: position;
    margin: 0;
}
.section-2-image-box {
    grid-area: section-2-image-box;
    display: flex;
    align-items: center;
}
.section-2-img {
    width: 100%;
    object-fit: contain;
}
/* SECTION 3 */
#section-3 {
    background-color: var(--Desaturated-Blue);
}
.section-3-container {
    justify-content: space-between;
    align-items: center;
    padding: 11.1rem 0 8.8rem;
}
.section-3-text, footer {
    color: var(--Light-Grayish-Blue);
}
.section-3-text {
    width: 42%;
}
.section-3-heading {
    font-size: 3.3rem;
    margin-bottom: 2.6rem;
}
.section-3-paragraph {
    margin: 0;
}
.section-3-form {
     display: flex;
     flex-direction: column;
     width: 37%;
     gap: 1.5rem;
     position: relative;
}
.section-3-form input {
    height:  4.8rem;
}
.error-text-2 {
    position: absolute;
    left: 0;
    top: 5rem;
    margin: 0;
    color: var(--Light-Grayish-Blue);
    opacity: 0;
    font-size: 1.3rem;
}
.section-3-form-input:not(:placeholder-shown):invalid + .error-text-2 {
    opacity: 1;
}
.section-3-form .label-for-email {
    height: 4.8rem;
    width: 42%;
}
/* FOOTER */
footer {
    background-color: var(--Very-Dark-Blue);
    padding-top: 10.8rem;
}
.footer-container {
    flex-direction: column;
}
.footer-logo-img {
    filter: brightness(0) invert(100%) ;
    width: 13.5rem;
    height: 4rem;
}
footer svg, footer path {
    fill: var(--Light-Grayish-Blue);
}
#footer {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0 7rem;
    font-size: 1.7rem;
}
.contact-box {
    display: flex;
    flex-direction: column;
    width: 18%;
    min-width: 23.4rem;
    gap: 2rem;
}
.contact {
    display: flex;
    gap: 1.9rem;
    align-items: center;
}
.phone-icon {
    width: 1.8rem;
    height: 1.8rem;
    padding-right: 0.2rem;
}
.email-icon {
    width: 2rem;
    height: 1.6rem;
}
.contact-text {
    margin: 0;
}
.contact a {
    text-decoration: none;
    color: var(--Light-Grayish-Blue);
}
.footer-menu {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "about-us contact-us"
    "jobs terms"
    "press privacy"
    "blog -";
    padding: 0;
    width: 27%;
    row-gap: 2rem;
}
.about-us {
    grid-area: about-us;
}
.jobs {
    grid-area: jobs;
}
.press {
    grid-area: press;
}
.blog {
    grid-area: blog;
}
.contact-us {
    grid-area: contact-us;
} 
.terms {
    grid-area: terms;
}
.privacy {
    grid-area: privacy;
}
.footer-menu-item {
    width: fit-content;
}
.footer-menu-item:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.footer-menu-item-link, .social-link {
    color: var(--Light-Grayish-Blue);
    text-decoration: none;
}
.footer-menu-item-link:active {
    color: var(--Desaturated-Blue);
}
.social-icons-box {
     display: flex;
     width: 20%;
     gap: 1.1rem;
}
.social-icon {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 1.5px solid var(--Light-Grayish-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icon:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.social-icon:active {
    color: var(--Desaturated-Blue);
    border-color: var(--Desaturated-Blue);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* MEDIA QUERY 955px */
@media only screen and (max-width: 955px) {
    .container {
        width: 87%;
    }
    .header-container {
        padding: 5rem 0 19.5rem;
    }
    #nav-bar {
        width: 50.5%;
    }
    .header-link {
        font-size: 2.2rem;
    }
    .section-1-container {
        flex-direction: column-reverse;
    }
    .section-1-text, .section-1-image-box {
        width: 100%;
    }
    .section-1-text, .section-2-heading, .section-3-text {
        text-align: center;
    }
    .section-1-heading {
        font-size: 6.3rem;
        letter-spacing: 0.1rem;
        margin: 9rem 0 6rem;
        line-height: 9rem;
    }
    .section-1-paragraph {
        font-size: 4rem;
        margin-bottom: 6.5rem;
    }
    .section-1-form {
        flex-direction: column;
        width: 93%;
        margin: 0 auto;
        gap: 0.85rem;
    }
    .section-1-text input, .section-1-text .label-for-email, .section-1-text button {
        width: 100%;
        height: 8rem;
    }
    .section-1-form input {
        font-size: 2.4rem;
        padding-left: 4rem;
    }
    .error-text {
        top: 8rem;
    }
    .section-1-form button {
        font-size: 2.8rem;
    }
    .section-2-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "section-2-image-box"
        "section-2-text"
        "review";
        padding-bottom: 16rem;
    }
    .section-2-heading {
        margin: 18rem 0 6rem;
        font-size: 3.3rem;
    }
    .section-2-paragraph {
        font-size: 3.6rem;
        padding-right: 0;
    }
    .section-2-link-box {
        height: auto;
        display: flex;
        justify-content: center;
        margin: 8rem auto 0;
    }
    .section-2-link {
        font-size: 3rem;
    }
    .arrow-icon {
        width: 3.5rem;
        height: 3.5rem;;
    }
    .review {
        margin: 8rem auto 0;
        width: 56rem;
        height: fit-content;
        padding: 4rem 3rem 4rem 5rem ;
    }
    .quote-icon {
        width: 2rem;
        height: 1.7rem;
    }
    .quote {
        font-size: 2.15rem;
        line-height: 4rem;
        margin: 3rem 0;
    }
    .users-data {
        column-gap: 2rem;
    }
    .users-photo-box, .users-photo {
        width: 5rem;
        height: 5rem;
    }
    .name {
        font-size: 1.9rem;
    }
    .position {
        font-size: 1.35rem;
    }
    .section-3-container {
        flex-direction: column;
        padding-bottom: 14rem;
    }
    .section-3-text {
        width: 100%;
    }
    .section-3-heading {
        margin: 0;
        font-size: 5rem;
    }
    .section-3-paragraph {
        font-size: 4.1rem;
        margin: 4rem 0 5rem;
    }
    .section-3-form {
        width: 74%;
        gap: 0.75rem;
    }
    .section-3-form input, .section-3-form .label-for-email, .section-3-form button {
        width: 100%;
        height: 6.5rem;
    }
    .section-3-form input {
        padding-left: 1.7rem;
        font-size: 1.8rem;
    }
    .error-text-2 {
        top: 6.3rem;
    }
    .section-3-form button {
        font-size: 2rem;
    }
    footer {
        padding-top: 13rem;
    }
    .footer-logo-img {
        width: 35.4rem;
        height: 10rem;
    }
    #footer {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        font-size: 3.1rem;
        padding-top: 8.5rem;
    }
    .contact-box, .footer-menu, .social-icons-box {
        width: 100%;
    }
    .phone-icon {
        width: 3.6rem;
        height: 3.6rem;
        padding-right: 0.4rem;
    }
    .email-icon {
        width: 4rem;
        height: 3.2rem;
    }
    .footer-menu {
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
    }
    .social-icons-box {
        justify-content: center;
        gap: 1.8rem;
    }
    .social-icon {
        width: 5.5rem;
        height: 5.5rem;
    }
}
/* MEDIA QUERY 750px */
@media only screen and (max-width: 750px) {
    .section-1-heading {
        font-size: 4.89rem;
        line-height: 7rem;
    }
    .section-1-paragraph {
        font-size: 3rem;
    }
    #section-1::after {
        background-image: url(bg-curve-mobile.svg);
    }
    .section-2-heading {
        font-size: 3.3rem;
    }
    .section-2-paragraph {
        font-size: 2.8rem;
    }
    .review {
        width: 86%;
    }
    .section-3-heading {
        font-size: 4rem;
    }
    .section-3-paragraph {
        font-size: 3.2rem;
        margin: 5rem 0;
    }
}
/* MEDIA QUERY 560px */
@media only screen and (max-width: 560px) {
    .header-logo-image-box {
        width: 30%;
    } 
    .header-logo-img {
        width: 100%;
    }
    .header-container {
        padding: 2.5rem 0 9.75rem;
    }
    #nav-bar {
        min-width: 16rem;
    }
    .header-link {
        font-size: 1.8rem;
    }
    .section-1-heading {
        font-size: 3.6rem;
        letter-spacing: 0.1rem;
        margin: 6.75rem 0 4.5rem;
        line-height: 5.25rem;
    }
    .section-1-paragraph {
        font-size: 2.2rem;
        margin-bottom: 4.875rem;
    }
    .section-1-text input, .section-1-text .label-for-email, .section-1-text button {
        height: 5.85rem;
    }
    .section-1-form input {
        font-size: 1.8rem;
        padding-left: 3rem;
    }
    .error-text {
        top: 5.7rem;
    }
    .section-1-form button {
        font-size: 2.1rem;
    }
    .section-2-container {
        padding-bottom: 12rem;
    }
    .section-2-heading {
        margin: 6.75rem 0 2.25rem;
        font-size: 2.475rem;
    }
    .section-2-paragraph {
        font-size: 2.1rem;
    }
    .section-2-link-box {
        margin-top: 6rem;
    }
    .section-2-link {
        font-size: 2rem;
    }
    .arrow-icon {
        width: 2.4rem;
        height: 2.4rem;
    }
    .review {
        margin: 6rem auto 0;
        max-width: 40.05rem;
        height: fit-content;
        padding: 3rem 2.25rem 3.75rem 
    }
    .quote-icon, .quote-icon-box {
        width: 1.5rem;
        height: 1.275rem;
    }
    .quote {
        font-size: 1.575rem;
        line-height: 3rem;
        margin: 2.25rem 0;
    }
    .users-data {
        column-gap: 1rem;
    }
    .users-photo-box, .users-photo {
        width: 3.75rem;
        height: 3.75rem;
    }
    .name {
        font-size: 1.425rem;
    }
    .position {
        font-size: 1.0125rem;
    }
    .section-3-container {
        padding: 8.25rem 0 10.5rem;
    }
    .section-3-heading {
        margin: 0;
        font-size: 3rem;
    }
    .section-3-paragraph {
        font-size: 2.4rem;
        margin: 0.75rem 0 3.75rem;
    }
    .section-3-form input, .section-3-form .label-for-email, .section-3-form button {
        width: 100%;
        height: 4.725rem;
    }
    .section-3-form input {
        padding-left: 1.275rem;
        font-size: 1,35rem;
    }
    .error-text-2 {
        top: 4.4rem;
    }
    .section-3-form button {
        font-size: 1.5rem;
    }
    footer {
        padding-top: 9.75rem;
    }
    .footer-logo-img {
        width: 26.55rem;
        height: 7.5rem;
    }
    #footer {
        gap: 7.5rem;
        font-size: 2.325rem;
        padding-top: 6.375rem;
    }
    .phone-icon {
        width: 2.7rem;
        height: 2.7rem;
        padding-right: 0.3rem;
    }
    .email-icon {
        width: 3rem;
        height: 2.4rem;
    }
    .footer-menu {
        gap: 1.6875rem;
    }
    .social-icons-box {
        gap: 1,35rem;
    }
    .social-icon {
        width: 4.125rem;
        height: 4.125rem;
    }
}
/* MEDIA QUERY 450px */
@media only screen and (max-width: 450px) {
    .header-link {
        font-size: 1.5rem;
    }
    .section-1-heading {
        font-size: 2.38rem;
        margin: 4.5rem 0 3rem;
        line-height: 3.5rem;
    }
    .section-1-paragraph {
        font-size: 1.5rem;
        margin-bottom: 3.25rem;
    }
    .section-1-text input, .section-1-text .label-for-email, .section-1-text button {
        height: 3.9rem;
    }
    .section-1-form input {
        font-size: 1.2rem;
        padding-left: 2rem;
    }
    .error-text {
        top: 3.8rem;
    }
    .section-1-form button {
        font-size: 1.4rem;
    }
    .section-2-container {
        padding-bottom: 8rem;
    }
    .section-2-heading {
        margin: 4.5rem 0 1.5rem;
        font-size: 1.65rem;
    }
    .section-2-paragraph {
        font-size: 1.4rem;
    }
    .section-2-link-box {
        margin-top: 4rem;
    }
    .section-2-link {
        font-size: 1.2rem;
    }
    .arrow-icon {
        width: 1.4rem;
        height: 1.4rem;
    }
    .review {
        margin: 4rem auto 0;
        width: 82%;
        max-width: 26.7rem;
        padding: 2rem 1.5rem 2.5rem 
    }
    .quote-icon, .quote-icon-box {
        width: 1rem;
        height: 0.85rem;
    }
    .quote {
        font-size: 1.05rem;
        line-height: 2rem;
        margin: 1.5rem 0;
    }
    .users-data {
        column-gap: 0;
    }
    .users-photo-box, .users-photo {
        width: 2.5rem;
        height: 2.5rem;
    }
    .name {
        font-size: 0.95rem;
    }
    .position {
        font-size: 0.675rem;
    }
    .section-3-container {
        padding: 5.5rem 0 7rem;
    }
    .section-3-heading {
        margin: 0;
        font-size: 2rem;
    }
    .section-3-paragraph {
        font-size: 1.6rem;
        margin: 0.5rem 0 2.5rem;
    }
    .section-3-form input, .section-3-form .label-for-email, .section-3-form button {
        width: 100%;
        height: 3.15rem;
    }
    .section-3-form input {
        padding-left: 0.85rem;
        font-size: 0.9rem;
    }
    .error-text-2 {
        top: 3rem;
    }
    .section-3-form button {
        font-size: 1rem;
    }
    footer {
        padding-top: 6.5rem;
    }
    .footer-logo-img {
        width: 17.7rem;
        height: 5rem;
    }
    #footer {
        gap: 5rem;
        font-size: 1.55rem;
        padding-top: 4.25rem;
    }
    .phone-icon {
        width: 1.8rem;
        height: 1.8rem;
        padding-right: 0.2rem;
    }
    .email-icon {
        width: 2rem;
        height: 1.6rem;
    }
    .footer-menu {
        gap: 1.125rem;
    }
    .social-icons-box {
        gap: 0.9rem;
    }
    .social-icon {
        width: 2.75rem;
        height: 2.75rem;
    }
}
